body {
  font-family: var(--bs-font-sans-serif);
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.5;
  color: #040910;
  -webkit-text-size-adjust: 100%;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #040910;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
}

a {
  color: #4b5d7a;
  text-decoration: none;
}
a:hover {
  color: #040910;
}

.bg-primary {
    background-color: #553f94 !important;
  }

.bg-secondary {
  background-color: #7557ca !important;
}

.bg-light {
  background-color: #efebf3 !important;
}

.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.0rem);
  padding-left: var(--bs-gutter-x,.0rem);
  margin-right: auto;
  margin-left: auto;
}

/* .NAVBAR  */

#navbarDropdown {
  vertical-align: middle;
}

.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.nav-item {
  color: #ffffff;
}

.nav-item:hover {
  color: #e7e7ed;
}

.navbar-brand {
  font-size: 2.3rem;
  font-weight: 500;
}

.form-control-1 {
  width: 40%;
  color: #848490 !important;
  font-weight: 600;
  display: block;
  padding: .4rem .95rem;
  font-size: .85rem; 
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.row > * {
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0);
  padding-left: calc(var(--bs-gutter-x) * 0);
  margin-top: var(--bs-gutter-y);
}

.userLogin {
  display: grid;
  float: left;
  color: #8f8f97;
  font-size: .945em;
  font-weight: 600;
  justify-content: end; 
}
#userFullName {
  color: #ffffff;
  font-size: .945em;
  font-weight: 600;
}

#status {
  color: #ffffff;
  font-size: .785em;
  font-weight: 400;
  margin-right: .8rem;
}
#imgUserLogin {
  height: 2.3rem;
  margin-right: .8rem;
  margin-left: 1.5rem;
}


/* BUTTONS  */

.container-buttons {
  display: inline;
}

.btn {
  padding: 1.3em;
  padding-top: .45em;
  padding-bottom: .55em;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid;
  border-color: #553f94 !important;
  font-size: .85rem;
}

.btn:hover {
  color: #ffffff;
  background-color: #553f94 !important;
}

.btn-secondary-1 {
  padding: .7em;
  padding-top: .9em;
  padding-bottom: 1em;
  color: #8f8f97;
  font-weight: 600;
  font-size: .85rem;
  border-color: #b4b0b0 !important;
  border: 0px solid;
  border-radius: .3rem;
}

.btn-secondary {
  padding: 1.3em;
  padding-top: .45em;
  padding-bottom: .55em;
  color: #4b5d7a;
  font-weight: 700;
  border-color: #b4b0b0 !important;
  border: 1px solid;
  border-radius: .3rem;
  font-size: .85rem;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #4b5d7a !important;
}

.btn-sm {
  padding: 1.1em;
  padding-top: .1em;
  padding-bottom: .2em;
  font-size: .6rem;
  border-radius: .3rem;
  font-weight: 700;
}

.leftGroup {
  float: left; 
}

.rightGroup {
  display: grid;
  float: right;
  color: #8f8f97;
  font-size: .945em;
  font-weight: 600;
  justify-content: end; 
}

/* SIDEBAR  */

.border-start-0 {
  border-left: 0px solid #ffffff !important;
}
.border-start-0:focus {
  border-left: 3px solid #ffffff !important;
}

.border-start-0:hover {
  border-left: 3px solid #ffffff !important;
  
}

.nav-link {
  display: block;
  color: #ffffff;
  font-size: .95rem;
  padding: .8rem;
  font-weight: 600;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:focus {
  color: #ffffff;
  background-color: #8268cf;
  padding: .8rem;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #7760bc;
  padding: .8rem;
}

.nav .li {
  display: flex;
  justify-content: center;
  padding: .8rem;
}

/* USER LIST TABLE */

.user-list tbody td > img {
position: relative;
float: left;
margin-right: 2rem;
}

/* img */
.rounded{
  border-radius: .55rem !important;
  height: 2.15rem;
}

.table {
  border-radius: 0.25rem;
  color: #8f8f97;
  vertical-align: middle;
}

.table  > :not(caption) > * > * {
  
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #ebe6ed;
  padding-bottom: .7rem;
  padding-top: .7rem;
}

.table > :not(caption) > * > * {
  padding: .35rem .35rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
}

th {
  font-weight: 600;
  font-size: .9em;
  cursor: pointer;
}
td {
  font-size: .8em;
  font-weight: 600;
  color: #4b5d7a;
}

.badge {
  display: inline-block;
  
  padding-top: .2em;
  padding-bottom: .3em;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  color: #60c877;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: .25rem;
  background-color: #cbebd0;
  width: 4rem;
}

#inactive {
  color: #f6807a;
  background-color: #fccdcb;
}

.table thead > tr > th span {
  display: inline-block;
  padding: .5rem .5rem;
}

.table a.table-link {
text-decoration: none;
color: #7760bc;
padding-right: 1rem;
}
.table a.table-link:hover {
text-decoration: none;
color: #553f94;
}

.fs-4 {
  font-size: 1.05rem !important;
}

.fs-5 {
  font-size: 1rem !important;
}



