body {
  font-family: var(--bs-font-sans-serif);
  font-size: .9rem;
  font-weight: 500;
  line-height: 1.5;
  color: #040910;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #040910;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
}

a {
  color: #4b5d7a;
  text-decoration: none;
}
a:hover {
  color: #040910;
}

.bg-primary {
    background-color: #553f94 !important;
  }

.bg-secondary {
  background-color: #7557ca !important;
}

.bg-light {
  background-color:#efebf3 !important;
}

.row > * {
  padding-right: calc(var(--bs-gutter-x) * .0);
  padding-left: calc(var(--bs-gutter-x) * .0);
  
}

/* .NAVBAR  */

#navbarDropdown {
  vertical-align: middle;
}

.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
}

.nav-item {
  color: #ffffff;
}

.nav-item:hover {
  color: #e7e7ed;
}

.navbar-brand {
  font-size: 2.3rem;
  font-weight: 500;
}

.form-control-1 {
  width: 40%;
  color: #848490 !important;
  font-weight: 600;
  display: block;
  padding: .4rem .95rem;
  font-size: .85rem; 
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.userLogin {
  display: grid;
  float: left;
  color: #8f8f97;
  font-size: .945em;
  font-weight: 600;
  justify-content: end; 
}
#userFullName {
  color: #ffffff;
  font-size: .945em;
  font-weight: 600;
}

#userStatus {
  color: #ffffff;
  font-size: .785em;
  font-weight: 400;
  margin-right: .8rem;
}
#imgUserLogin {
  height: 2.3rem;
  margin-right: .8rem;
  margin-left: 1.5rem;
}

/* BUTTONS  */

.btn {
  padding: 1.3em;
  padding-top: .45em;
  padding-bottom: .55em;
  color: #ffffff;
  font-weight: 700;
  border: 1px solid;
  border-color: #553f94 !important;
  font-size: .85rem;
}

.btn:hover {
  color: #ffffff;
  background-color: #553f94 !important;
}

.btn-secondary-1 {
  padding: .7em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #8f8f97;
  font-weight: 600;
  font-size: .85rem;
  border-color: #b4b0b0 !important;
  border: 0px solid;
  border-radius: .3rem;
}

.btn-secondary {
  padding: 1.3em;
  padding-top: .45em;
  padding-bottom: .55em;
  color: #4b5d7a;
  font-weight: 700;
  border-color: #b4b0b0 !important;
  border: 1px solid;
  border-radius: .3rem;
  font-size: .85rem;
}

.btn-secondary:hover {
  color: #3d4d65;
}

.btn-secondary:focus {
  color: #4b5d7a;
}

.btn-sm {
  padding: 1.1em;
  padding-top: .1em;
  padding-bottom: .1em;
  font-size: .6rem;
  border-radius: .3rem;
  font-weight: 700;
}

.leftGroup {
  float: left; 
}

.rightGroup {
  display: grid;
  float: right;
  color: #8f8f97;
  font-size: .945em;
  font-weight: 600;
  justify-content: end; 
}

#selector, #selectorActive, #selectorInactive {
  padding-top: 1em;
  padding-bottom: 1em;
}

#selector, #selectorActive, #selectorInactive {
  &:hover, 
  &:focus,
  &:active {
    color: #040910;
    border-bottom: 2px solid #553f94 !important;
  }
}

/* SIDEBAR  */

.nav-link {
  display: block;
  color: #ffffff;
  font-size: .95rem;
  padding: .8rem;
  font-weight: 600;
  text-decoration: none;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
}

.nav-link:hover {
  color: #ffffff;
  background-color: #7760bc;
  padding: .8rem;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
  border-left: 3px solid #ffffff !important;
}

.nav-link:focus {
  color: #ffffff;
  background-color: #8268cf;
  padding: .8rem;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
  border-left: 3px solid #ffffff !important;
}

.nav .li {
  display: flex;
  justify-content: center;
  padding: .8rem;
}

/* USER LIST TABLE */

table.table {
  background-color: #ffffff;
  padding-left: 5rem;
  backdrop-filter: blur(7px);
  border-radius: .3rem;
  margin-top: .7rem; 
  overflow: hidden;
}

.thead {
  width: 100%;
  height: 10%;
  padding: .8rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.thead {
  width: 35%;
  height: 100%;
  padding: 0 .8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .2s;
}

.tbody, .col {
  overflow: auto;
  overflow: overlay;
}

.tbody, .col::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.tbody, .col::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  visibility: hidden;
}

.tbody, .col:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

tbody td > img {
position: relative;
float: left;
}

/* img */
.rounded{
  border-radius: .55rem !important;
  height: 2.15rem;
}

.table {
  border-radius: 0.25rem;
  color: #8f8f97;
  vertical-align: middle;
}

.table  > :not(caption) > * > * {
  border-bottom-width: 1px;
}

.table > :not(:last-child) > :last-child > * {
  border-bottom-color: #f8f6f9;
  padding-bottom: .9rem;
  padding-top: .9rem;
}

.table > :not(caption) > * > * {
  padding-left: 1.5rem;
  border-bottom-width: 1px;
}

.tbody::-webkit-scrollbar{
  width: 0.5rem;
  height: 0.5rem;
}

.tbody::-webkit-scrollbar-thumb{
  border-radius: .5rem;
  background-color: #0004;
  visibility: hidden;
}

.tbody:hover::-webkit-scrollbar-thumb{ 
  visibility: visible;
}

th {
  font-weight: 600;
  font-size: .9em;
  vertical-align: middle;
  padding: .5rem;
  padding-left: 1.5rem;
}

#sortMember , #sortMobile, #sortEmail, #sortStatus {
  cursor: pointer;
}

td {
  font-size: .8em;
  font-weight: 600;
  color: #4b5d7a;
}

th:first-child {
  min-width: 2.5rem;
}

@media (max-width: 1378px) {
  th {
    min-width: 8.8rem;
  }
  a.nav-link {
    font-size: .82rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .nav-link:hover {
    padding: .8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .nav-link:focus {
    padding: .8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 1216px) {
  .rightGroup {
    float: left;
  }
  
  a.nav-link {
    font-size: .9rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  .nav-link:hover {
    padding: .8rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
  .nav-link:focus {
    padding: .8rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  }
}

@media (max-width: 1180px) {
  a.nav-link {
    font-size: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  .nav-link:hover {
    padding: .8rem;
    padding-left: 2.2rem;
    padding-right: 2.5rem;
  }
  .nav-link:focus {
    padding: .8rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media (max-width: 884px) {

  *, ::after, ::before {
    box-sizing: inherit;
  }
  .btn-secondary-1  {
    padding: .65em;
    padding-top: .7em;
    padding-bottom:.7em;
    font-size: .89rem;
    margin-right: .5rem;
  }
  .px-4 {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
  }
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-right: var(--bs-gutter-x,.1rem);
    padding-left: var(--bs-gutter-x,.1rem);
   
  }
  .rightGroup {
    font-size: .75rem;
    justify-content: start;
    padding-left: .5rem; 
  }
  a.nav-link {
    font-size: .9rem;
    padding-left: 1.35rem;
    padding-right: .8rem;
  }
  .nav-link:hover {
    padding: .8rem;
    padding-left: 1.35rem;
    padding-right: .8rem;
  }
  .nav-link:focus {
    padding: .8rem;
    padding-left: 1.35rem;
    padding-right: .8rem;
  }
  
  th {
    min-width: 6.8rem;
  }
}

.badge {
  display: inline-block; 
  padding-top: .3em;
  padding-bottom: .3em;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  color: #60c877;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #cbebd0;
  width: 4rem;
}

#tdStatus, #tdOperation, #tdAction {
  text-align: center;
}

#statusActive, #statusInactive {
  font-size: .8em;
}

#inactive {
  color: #f6807a;
  background-color: #fccdcb;
}

.table thead > tr > th span {
  display: inline-block;
  vertical-align: middle; 
}

.table a.table-link {
text-decoration: none;
color: #7760bc;
padding: .5rem;
}
.table a.table-link:hover {
text-decoration: none;
color: #553f94;
}

.fs-4 {
  font-size: 1.05rem !important;
}

.fs-5 {
  font-size: 1rem !important;
}



